/*
.imgAvatar{
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    /*border: 1px solid green;/
    border-radius: 100px;
}
*/

.imageMark{
    border: 5px double green;
    border-radius: 50px;
    box-shadow: 
            -4px -4px 10px green,
             4px  4px 10px green;
}

.heightSep{
    margin-top: 20px;
    margin-bottom: 20px;
}



@media only screen and (max-width: 550px){
    /* pantallas hasta width 500 */

    .imageMark{
        border-radius: 30px;
    }
}

